body {
    font-family: Arial, Helvetica, sans-serif;
    
}

.wrapper1{
    display: flex;
    
}

/*First task*/

#first-task {
    font-size: 20px;
    font-weight: bold;
    margin-left:300px;
    margin-top:350px;

}

#first-button {
    background-color: red;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    width: 170px;
    height: 50px;
    margin-top: 400px;
    margin-left: -132px;

}

#first-button:hover { 
    border: 1px solid white;
 }


/*Second task*/

#second-task {
    font-size: 20px;
    font-weight: bold;
    margin-left:800px;
    margin-top:-100px;

}

#second-button.green {
    background-color: green;
    border: 1px solid black;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    width: 170px;
    height: 50px;
    margin-left:-145px;
    margin-top: -47px;
 }

#second-button {
    background-color: red;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    width: 170px;
    height: 50px;
    margin-left:-145px;
    margin-top: -47px;
    
}

#second-button:hover { 
    border: 1px solid white;
 }


/*Third task*/

 h1 {
    font-size: 20px;
    font-weight: bold;
    margin-left:1400px;
    margin-top:-260px;
}

p {
    font-size: 15px;
    margin-left: 3px;
    padding-left: 1px;
}

#calculator {
    background-color: darkkhaki;
    border: 1px solid black;
    font-size: 15px;
    border-radius: 10px;
    padding: 30px;
    width: 190px;
    color: #000;
    font-weight: bold;
    margin-left:-180px;
    margin-top: -200px;
    
}

#number1, #number2, #operator {
    background-color: #fff;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    padding: 4px;
    margin-top: 10px;
    width: 180px;

}

#first, #second, #third {
  
    color: black;
    
}

#button {
    background-color: red;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    font-size: 30px;
    padding: 2px;
    width: 70px;
    height: 50px;
    margin-left: 60px;
    margin-top: 10px;

}

#button:hover { 
    border: 1px solid white;
 } 

#button:focus { 
    background-color:green;
}

#result{
    display:flex;
    background-color: #fff;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    width: 175px;
    height: 15px;
    margin-left: -2px;
    margin-top: 12px;
}

